body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.main-rectangle {
	background-color: white;
	width: 1000px;
	border-radius: 15px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	text-align: center;
}

.customtable {
	background-color: #121212;
}

.company-modal {
	background-color: white;
}